# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*Runner
*Runner.c

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
server
basicFuzzer
packetFuzzer

#vscode
.vscode

#test files
maps/*

#logs
*.log
lastFuzz.bin
